/*ПЕРЕМЕННЫЕ*/
@import url("variables.css");

.app {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    font: var(--font-normal);
    color: var(--dark-font-color);
    background-color: var(--light-main-color);
}

.header {
    margin: 0 auto auto auto;
    padding: 0;
    width: 100%;

    background-color: #FFF;
}

.header .logo-text {
    margin-right: auto;

    font: var(--font-large-bold);
}

.header .log-link {
    margin: 0 0 0 1rem;

    font: var(--font-normal);
    color: var(--middle-main-color);
}

.header .log-link:hover {
    color: var(--dark-main-color);
}

.page-max-w {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 1240px;
    min-height: 56px;

    display: flex;
    box-sizing: border-box;
    align-items: center;
}

/*ФОРМА ВХОДА*/
.form-sign-in {
    margin: 3rem 0;
    padding: 1rem;
    width: 100%;
    max-width: 28rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;

    border-radius: 5px;
    font: var(--font-large);
}

.form-sign-in h1 {
    margin: 0.5rem 0;
    padding: 0;

    font: var(--font-largest-bold);
}

@media screen and (max-width: 425px) {
    .form-sign-in h1{
        font: var(--font-large-bold);
    }
}

.form-sign-in .input-wrap {
    margin: 0.75rem 0;
    width: 100%;

    position: relative;

    display: flex;
    align-items: center;
}

.form-sign-in .input-wrap img {
    position: absolute;
    left: 1rem;

    height: 24px;
    width: 24px;
}

.form-sign-in .input-wrap img#eye-open,
.form-sign-in .input-wrap img#eye-close {
    right: 1rem;
    left: auto;

    height: 20px;
    width: 20px;
}

.form-sign-in .input-wrap img.hide {
    display: none;
}

.login-variants a:hover {
    color: var(--dark-main-color);
}

.form-sign-in input {
    margin: 0;
    padding: 0.75rem 1rem 0.75rem 3.25rem;
    width: 100%;

    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
    border-color: #b3b3b3;
    font: var(--font-large);
}

.form-sign-in input#password {
    padding-right: 3.25rem;
}

.form-sign-in input.checkbox {
    width: auto;

    display: inline;
}

.form-sign-in input:active,
.form-sign-in input:hover,
.form-sign-in input:focus,
.form-sign-in input.checkbox:active,
.form-sign-in input.checkbox:hover,
.form-sign-in input.checkbox:focus {
    background-color: #FFFFFF;
}

.form-sign-in a.btn {
    margin: 0.75rem 0 1.4rem 0;
    padding: 0.75rem 0;
    width: 100%;

    display: flex;
    justify-content: center;

    border-radius: 5px;
    color: var(--light-font-color);
    background-color: var(--middle-main-color);
    transition: var(--transition-l);
}

.form-sign-in a.btn:hover {
    background-color: var(--dark-main-color);
}

/*Форма входа---Ссылки*/
.login-variants a.active {
    text-decoration: underline;
}

.form-sign-in a.link {
    margin: 0;
    padding: 0;

    display: inline;

    border-radius: 5px;
    font: var(--font-normal);
    color: var(--middle-main-color);
}

.form-sign-in a.link:hover {
    color: var(--dark-main-color);
}

.form-sign-in span {
    font: var(--font-normal);
}

hr {
    margin: 0.5rem 0 0 0;
    width: 5rem;

    border-style: none;
    height: 1px;
    background-color: var(--dark-font-color);
}

.footer {
    margin-top: auto;
    padding: 1rem;

    font: var(--font-small);
}